body  {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;
}

h1  {
    color: navy;
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
}